/* TT Positive Extended */
@font-face {
  font-family: 'TT Positive Extended';
  src: url('../assets/fonts/TT_Positive_Extended_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Positive Extended';
  src: url('../assets/fonts/TT_Positive_Extended_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Positive Extended';
  src: url('../assets/fonts/TT_Positive_Extended_Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
