.maturity-level {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* Фон */
.maturity-level__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/maturity/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

/* Кнопка домой */
.maturity-level__home-button {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: var(--transition-default);
  padding: 0;
}

.maturity-level__home-button img {
  display: block;
  height: 60px;
  width: auto;
}

.maturity-level__home-button:hover {
  transform: scale(1.05);
}

.maturity-level__home-button:active {
  transform: scale(0.95);
}

/* Заголовок */
.maturity-level__title {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  color: #000000;
  margin: 0;
  white-space: nowrap;
}

/* Презентация поверх фона */
.maturity-level > .presentation {
  position: relative;
  z-index: 1;
}
