.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  cursor: pointer;
}

.video-modal__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
